body{
    background-color: black;
    font-family: serif;
    display: flex;
    flex-wrap: wrap;
}
.directlinks{
    display: grid;
    position: absolute;
    margin: 5rem 1rem;
    z-index: 5;
    color: white;
}
.directlinks a:hover{
    color:cyan;
    cursor: pointer;
}
.directlinks i{
    font-size: 1.8em;
    margin: 5rem 1rem;
}
.firstbrand::after{
    content: 'Visit me on GitHub?';
    opacity: 0;
    transition: opacity 250ms 350ms ease-in-out;
    z-index: -1;
}.secbrand::after{
    content: 'Visit me on FaceBook?';
    opacity: 0;
    transition: opacity 250ms 350ms ease-in-out;
    z-index: -1;
}.thirdbrand::after{
    content: 'Email me?';
    opacity: 0;
    transition: opacity 250ms 350ms ease-in-out;
    z-index: -1;
}
.firstbrand:hover::after,.secbrand:hover::after,.thirdbrand:hover::after{
   opacity: 1;
}
.dropicon{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    opacity: 0.4;
}
.navbar{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: all 350ms ease-in-out;
}
.navbar a{
    color: white;
}
.link-container{
    position: relative;
    width: 100%;
}.navbar ul{
    position: relative;
    width: 100%;
    left: 60%;
}
.navbar li{
    color: white;
    margin-left: 2rem;
}.navbar a:hover{
    color:cyan;
    cursor: pointer;
}
.main-container{
    display: grid;
    width: 100%;
    position: static;
}
.first-section,.second-section,.third-section,.fourth-section{
    position: relative;
    height: 100vh;
    width: 100%;
}
.third-section{
    height:300vh;
}
.intro{
    position:relative;
    padding: 15% 15%;
    width: 50%;
    height: 100%;
}
.printer{
    position: absolute;
    width: 70%;
    color: white;
    font-size: 2rem; 
}
.below-texts{
    position: absolute;
    top: 70%;
    left: 15%;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 2;
    width: 40%;
    animation: fade 650ms;
    transition:opacity 1s ease-in-out;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
   100%{
    opacity: 1;
    }
    
}
.below-texts a{
    text-decoration: none;
    cursor: pointer;
    color: red;
}
.below-texts .ftp{
    font-size: 2em;
    position: absolute;
}
.img-container{
    position: absolute;
    top: 25%;
    right: 15%;
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    z-index: 2;
    overflow: hidden;
    transition: transform 350ms ease-in-out;
}
.img-container::before{
    content: '';
    position: absolute;
    width: 10rem;
    height: 30rem;
    justify-self: center;
    right: 6.5rem;
    background-color: red;
    box-shadow: 0 0 20px red;
    border-radius: 20px;
    animation: rotate 3000ms linear infinite;
}
.first-section img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    padding: 5px;
}.Pname{
    position: absolute;
    font-size:1em;
    z-index: 3;
    color: white;
    top: 90%;
    right: 24.5%;
    border-bottom: 1px solid white;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
::-webkit-scrollbar{
    display: none;
}
.second-section h2,.third-section h2, .fourth-section h2{
    position: relative;
    color: white;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}
.second-section h2::after,.third-section h2::after,.third-section h2::after,.fourth-section h2::after{
    position: absolute;
    content:'' ;
    background-color: white;
    width:15rem;
    height: 1px;
    text-align: center;
    margin-top: 40px;
    margin-left: -175px;
}
.skillset{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    position:absolute;
}
    .firstSkill, .secondSkill, .thirdSkill {
    position: relative;
    border: 1px solid white;
    width: 25rem;
    height: 25rem;
    margin: 5% 3.3rem;
    border-radius: 10px;
    background-color: cyan;
    transition: transform 350ms ease-in-out, opacity 0.3s ease-in-out;
    will-change: transform, opacity;
}

.firstSkill {
    animation: none 1s 1;
}
.secondSkill {
    animation: none 1s 1;
}
.thirdSkill {
    animation: none 1s 1;
}
.firstSkill:hover, .secondSkill:hover, .thirdSkill:hover {
    transform: scale(1.2);
}
@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes toTop {
    0% {
        opacity: 0;
        transform: translateY(350%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.firstSkill img:hover,.secondSkill img:hover,.thirdSkill img:hover
{
    transform: scale(120%);
}
.secondSkill{
    background:linear-gradient(90deg,gray,cyan);
}
.skillset h4{
    text-align: center;
    position: relative;
    margin-top: -2.3rem;
    color: white;
}
.skillset img{
    display:inline-flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
    margin: 10px 1px;
    transition:transform 350ms ease-in-out;
    cursor: pointer;
}.skillset p{
    text-align: center;
    margin-top: -5rem;
}.skillset a{
    text-decoration: none;
}

.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	padding: 90px 0;
}
.main .head {
	font-size: 29px;
	color: white;
	position: relative;
	margin-bottom: 100px;
	font-weight: 500;
}
.main .head::after {
	content: " ";
	position: absolute;
	width: 50%;
	height: 3px;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	background:white;
}
.container {
	width: 70%;
	height: auto;
	margin: auto 0;
    margin-bottom: 2rem;
	position: relative;
}
.container ul {
	list-style: none;
}
.container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background:red;
}
.container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: cyan;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(255, 5, 5, 0.599);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}
.container ul li:nth-child(4) {
	margin-bottom: 0;
}
.container ul li .circle {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	top: 0;
	display: grid;
	place-items: center;
    margin-left: -3%;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;

}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -15px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	outline:1px solid white;
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
ul li .date:hover{
background-color: red;
cursor: auto;
border:1px solid black;
}
.container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.container ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 17px;
	color: rgb(91, 14, 216);
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}

@keyframes toRightladder {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(-6%);
    }
}

@keyframes toLeftladder {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }
    100% {
        opacity: 1;
        transform: translateX(6%);
    }
}


.resume-infos{
    display: inline-flex;
    margin: 5rem;
}
.resume-infos .card{
    height: 20rem;
    margin: 2rem;
    transition:  transform 350ms ease-in-out;
    cursor: pointer;
    background-color: cyan;
}
.resume-infos .card:hover{
    transform: scale(150%);
}
.container li:nth-child(1){
    animation: none 1s 1;
    
}
.container li:nth-child(2){
    animation:none  1s 1;
}
.container li:nth-child(3){
    animation: none 1s 1;
}
.container li:nth-child(4){
    animation: toLeftladder  1s 1;
}

.fourth-section{
    border: 1px solid white;
}
.fourth-section .card{
    height: 20rem;
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 6%;
    transition:transform 350ms ease-in-out;
}
.contact-container .card:hover{
    transform: scale(120%);
    cursor: pointer;
}
.contact-container{
    padding: 5rem 10rem;
    position: inherit;
    justify-content: center;
}

@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.container{
		width: 70%;
		transform: translateX(20px);
	}
	.container ul::after{
		left: -40px;
	}
	.container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.container ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.container ul li .date{
		left: 20px;
	}
	.container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.container{
		width: 80%;
	}
	.container ul::after{
		left: -20px;
	}
	.container ul li .circle{
		left: -20px;
	}
}
  


@media(max-width:1280px) {

    .directlinks i{
        font-size: 1.5em;
        margin: 4rem 1rem;
    }
   .navbar ul{
        position: relative;
        width: 100%;
        left: 48%;
    }
    .intro{
        border: 1px solid white;
        position:relative;
        padding: 25% 12%;
        width: 50%;
        height: 100%;
    }
    .printer{
        position: absolute;
        width: 70%;
        color: white;
        font-size: 1.2rem; 
    }
    .below-texts{
        position: absolute;
        top: 55%;
        left: 12%;
        color: white;
        font-family: sans-serif;
        font-size: 10px;
        z-index: 2;
        width: 40%;
    }
    .below-texts a{
        text-decoration: none;
        cursor: pointer;
        color: red;
    }
    .below-texts .ftp{
        font-size: 1.5em;
        position: absolute;
    }
    .img-container{
        position: absolute;
        top: 25%;
        right: 5%;
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        z-index: 2;
        overflow: hidden;
        transition: transform 350ms ease-in-out;
    }
    .img-container::before{
        content: '';
        position: absolute;
        width: 6rem;
        height: 30rem;
        justify-self: center;
        right: 6.5rem;
        background-color: red;
        box-shadow: 0 0 20px red;
        border-radius: 20px;
        animation: rotate 3000ms linear infinite;
    }
    .first-section img{
        position: relative;
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        padding: 5px;
    }.Pname{
        position: absolute;
        font-size:1em;
        z-index: 3;
        color: white;
        top: 75%;
        right: 18.5%;
        border-bottom: 1px solid white;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .second-section h2,.third-section h2, .fourth-section h2{
        position: relative;
        color: white;
        text-align: center;
        margin-top: 5%;
        width: 100%;
    }
    .second-section h2::after,.third-section h2::after,.third-section h2::after,.fourth-section h2::after{
        position: absolute;
        content:'' ;
        background-color: white;
        width:15rem;
        height: 1px;
        text-align: center;
        margin-top: 40px;
        margin-left: -175px;
    }
    .firstSkill,.secondSkill,.thirdSkill{
        position: relative;
        border: 1px solid white;
        width: 20rem;
        height: 24rem;
        margin: 5% 3rem;
        border-radius: 10px;
        background-color: cyan;
        transition:transform 350ms ease-in-out;
    }
    .skillset img{
        display:inline-flex;
        flex-wrap: wrap;
        width: 6rem;
        height: 6rem;
        margin: 10px 1px;
        transition:transform 350ms ease-in-out;
        cursor: pointer;
    }.skillset p{
        text-align: center;
        margin-top: 5rem;
    }
}
@media(max-width:860px) {

    .directlinks i{
        font-size: 1.5em;
        margin: 4rem 1rem;
    }
   .navbar ul{
        position: relative;
        width: 100%;
        left: 48%;
    }
    .intro{
        border: 1px solid white;
        position:relative;
        padding: 25% 12%;
        width: 50%;
        height: 100%;
    }
    .printer{
        position: absolute;
        width: 70%;
        color: white;
        font-size: 1.2rem; 
    }
    .below-texts{
        position: absolute;
        top: 55%;
        left: 12%;
        color: white;
        font-family: sans-serif;
        font-size: 10px;
        z-index: 2;
        width: 40%;
    }
    .below-texts a{
        text-decoration: none;
        cursor: pointer;
        color: red;
    }
    .below-texts .ftp{
        font-size: 1.5em;
        position: absolute;
    }
    .img-container{
        position: absolute;
        top: 25%;
        right: 5%;
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        z-index: 2;
        overflow: hidden;
        transition: transform 350ms ease-in-out;
    }
    .img-container::before{
        content: '';
        position: absolute;
        width: 6rem;
        height: 30rem;
        justify-self: center;
        right: 6.5rem;
        background-color: red;
        box-shadow: 0 0 20px red;
        border-radius: 20px;
        animation: rotate 3000ms linear infinite;
    }
    .first-section img{
        position: relative;
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        padding: 5px;
    }.Pname{
        position: absolute;
        font-size:1em;
        z-index: 3;
        color: white;
        top: 75%;
        right: 18.5%;
        border-bottom: 1px solid white;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .second-section h2,.third-section h2, .fourth-section h2{
        position: relative;
        color: white;
        text-align: center;
        margin-top: 5%;
        width: 100%;
    }
    .second-section h2::after,.third-section h2::after,.third-section h2::after,.fourth-section h2::after{
        position: absolute;
        content:'' ;
        background-color: white;
        width:15rem;
        height: 1px;
        text-align: center;
        margin-top: 40px;
        margin-left: -175px;
    }
    .firstSkill,.secondSkill,.thirdSkill{
        position: relative;
        border: 1px solid white;
        width: 15rem;
        height: 22rem;
        margin: 5% 1rem;
        border-radius: 10px;
        background-color: cyan;
        transition:transform 350ms ease-in-out;
    }
    .skillset img{
        display:inline-flex;
        flex-wrap: wrap;
        width: 6rem;
        height: 6rem;
        margin: 10px 1px;
        transition:transform 350ms ease-in-out;
        cursor: pointer;
    }.skillset p{
        text-align: center;
        margin-top: 5rem;
    }
}
@media(max-width:360px) {
    .dropicon{
        position: relative;
        border: 1px solid white;
        padding: 1rem;
        border-radius: 5px;
        opacity: 0.4;
    }
    .navbar{
        background-color: black;
    }
    .navbar ul{
        position: relative;
        width: 100%;
        left: 0;
        text-align: center;
    }
    .directlinks{
        display: grid;
        position: absolute;
        margin: 3rem 1rem;
        float: right;
        z-index: 2;
    }.directlinks i{
        font-size: 1.8em;
        margin: .5rem 5px;
    }
    .main-container{
        display: grid;
        width: 100% ;
    }
    .first-section,.second-section,.third-section,.fourth-section{
        border: 1px solid white;
        height:300vh;
        position: absolute;

    }
    
    .intro{
    position:relative;
    padding: 15% 0%;
    width: 100%;
    height: 100%;
    }
    .printer{
        position: absolute;
        width: 100%;
        color: white;
        font-size: 1rem; 
        text-align: center;
    }
    .below-texts{
        position: relative;
        top: 25%;
        left: 0%;
        text-align: center;
        color: white;
        font-size: 10px;
        z-index: 2;
        width:100%;
    
    }
    .below-texts .ftp{
        font-size: 1em;
        position: absolute;
    }
    .img-container{
        position: absolute;
        top:35%;
        right: 15%;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        overflow: hidden;
        z-index: 2;
        
    }
    .img-container::before{
        content: '';
        position: absolute;
        width: 6rem;
        height: 20rem;
        justify-self: center;
        right: 6.5rem;
        background-color: red;
        box-shadow: 0 0 20px red;
        border-radius: 20px;
        animation: rotate 3000ms linear infinite;
    }
    .first-section img{
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        padding: 2px;
        
    }.Pname{
        top: 68%;
        right: 35.5%;
    }
    .first-section,.second-section,.third-section,.fourth-section{
        position: inherit;
        border: 1px solid white;
        position: relative;
        height: 120vh;
        overflow:visible;
    
    }
    .firstSkill,.secondSkill,.thirdSkill{
        position: relative;
        border: 1px solid white;
        width: 12rem;
        height: 14rem;
        margin: 5% 4.5rem;
        padding: 2rem 0;
        border-radius: 10px;
    }
    .skillset img{
        display:inline-flex;
        flex-wrap: wrap;
        width: 3rem;
        height: 4rem;
        margin: 10px 1px;
    }
    .skillset p{
        margin-left: 40%;
        margin-top: 5px;
        font-size: 14px;
    }
}




